#gameover {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#gameover h2,
#gameover p {
  margin-bottom: 1rem;
}

#gameover p {
  color: #8435de;
}

#gameover img {
  margin: 2rem auto;
  height: 200px;
}
