#question {
  background-color: #8435de;
  border-radius: 1rem;
  padding: 2rem;
  width: 500px;
}

#question p {
  margin-bottom: 1rem;
}

#question h2 {
  margin-bottom: 2rem;
}

#question button {
  border: 2px solid #fff;
  margin: 1rem;
}
