* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-color: #1c1c1c;
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(
    90deg,
    rgba(132, 53, 222, 1) 0%,
    rgba(184, 84, 232, 1) 100%
  );
  border-radius: 3rem;
  border: none;
}

button:hover {
  background: linear-gradient(
    90deg,
    rgba(184, 84, 232, 1) 0%,
    rgba(132, 53, 222, 1) 100%
  );
}
